<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=7cd75d79-6017-4452-92f5-a21000d16b66.sqlserver.sequelizer.com;Database=db7cd75d796017445292f5a21000d16b66;User ID=rkvgbygwwcsmtbyc;Password=erCyXbWFZkuzttzibzhDEVQXxGRJiYAHcZcFdG6NKtwZLXJFNJBt3CHqJMbqrnxb;" />
  </connectionStrings>
</configuration>